<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form action="/login" th:action="loginProc" th:object="${form}" method="post">
    <div>
        <label th:for="loginId">아이디:</label>
        <input type="text" th:field="*{loginId}" required>
    </div>
    <div>
        <label th:for="password">비밀번호:</label>
        <input type="password" th:field="*{password}" required>
    </div>
    <div>
        <button type="submit">로그인</button>
    </div>
</form>
<a th:href="@{/oauth2/authorization/google}">구글 로그인</a>
<a th:href="@{/oauth2/authorization/facebook}">페이스북 로그인</a>
<p>계정이 없나요? <a th:href="@{/signup}">회원가입하기</a></p>
</body>
</html>
