<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<header>
    <span sec:authorize="isAnonymous()">
        <button th:onclick="|location.href='@{/login}'|" >로그인</button>
    </span>
    <span sec:authorize="hasRole('ROLE_USER')">
        <a th:text="${session.user.nickname}" th:href="@{/users/{userId} (userId=${session.user.id})}">닉네임</a>
        <button th:onclick="|location.href='@{/logout}'|" >로그아웃</button>
    </span>
</header>
<div>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}"></td>
            <td th:text="${post.title}"></td>
            <td th:text="${post.writer}"></td>
        </tr>
        </tbody>
    </table>
</div>
<span sec:authorize="isAuthenticated()"
      th:if="${session.user.qualification.getKrName() == '멘토'} or ${session.user.role.getKrRole() == '관리자'}">
    <button th:onclick="|location.href='@{/posts/uploadForm}'|" >게시글 작성</button>
</span>
</body>
</html>