<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>회원가입</title>
</head>
<style>
    .fieldError {
        border-color: red;
        color: red;
    }
</style>
<body>
<h1>회원가입</h1>
<form th:action th:object="${form}" method="post">
    <div>
        <label th:for="loginId">아이디:</label>
        <input th:type="text" id="loginId" th:field="*{loginId}" placeholder="아이디를 입력하세요."
               th:class="${#fields.hasErrors('loginId')}? 'fieldError'" >
        <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" th:class="fieldError">Error Data</p>
    </div>
    <div>
        <label th:for="password">비밀번호:</label>
        <input th:type="password" th:field="*{password}" placeholder="비밀번호를 입력하세요."
               th:class="${#fields.hasErrors('password')}? 'fieldError'" >
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="fieldError">Error Data</p>
    </div>
    <div>
        <label th:for="email">이메일:</label>
        <input th:type="text" th:field="*{email}" placeholder="이메일을 입력하세요."
               th:class="${#fields.hasErrors('email')}? 'fieldError'" >
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="fieldError">Error Data</p>
    </div>
    <div>
        <label th:for="nickname">닉네임:</label>
        <input th:type="text" th:field="*{nickname}" placeholder="닉네임을 입력하세요."
               th:class="${#fields.hasErrors('nickname')}? 'fieldError'" >
        <p th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" th:class="fieldError">Error Data</p>
    </div>
    <div>
        <label th:for="phone">전화번호:</label>
        <input th:type="text" th:field="*{phone}" placeholder="전화번호를 입력하세요."
               th:class="${#fields.hasErrors('phone')}? 'fieldError'" >
        <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" th:class="fieldError">Error Data</p>
    </div>
    <div>
        <label th:for="qualification">자격:</label>
        <select th:field="*{qualification}">
            <option th:each="type : ${qualification}" th:value="${type}" th:text="${type.getKrName()}"/>
        </select>
    </div>
    <div>
        <button type="submit">회원가입</button>
    </div>
</form>
</body>
</html>
