<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>
<form th:action th:object="${form}" method="post">
    <div>
        <label th:for="loginId">아이디:</label>
        <input th:type="text" th:field="*{loginId}" />
    </div>
    <div>
        <label th:for="password">비밀번호:</label>
        <input th:type="password" id="password" th:field="*{password}" />
    </div>
    <div>
        <label th:for="email">이메일:</label>
        <input th:type="text" th:field="*{email}" />
    </div>
    <div>
        <label th:for="nickname">닉네임:</label>
        <input th:type="text" th:field="*{nickname}" />
    </div>
    <div>
        <label th:for="phone">전화번호:</label>
        <input th:type="text" th:field="*{phone}" />
    </div>
    <div>
        <label th:for="qualification">자격:</label>
        <select th:field="*{qualification}">
            <option th:each="type : ${qualification}" th:value="${type}" th:text="${type.getKrName()}"/>
        </select>
    </div>
    <div>
        <button type="submit">회원가입</button>
    </div>
</form>
</body>
</html>
